@media(max-width: 1100px) {
    .service-about {
        flex-direction: column;
    }
    .service-about p {
        margin: 0 auto;
        padding-bottom: 30px;
    } 
}
@media(max-width: 900px) {
    .headerMenu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .logo-ink {
        order: -1;
        padding-bottom: 55px;
    }
    .headerMenu ul li {
        text-align: center;
    }
    .City-container {
        display: flex;
        flex-direction: column;
    }
    .bridge-box {
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 800px) {
    .service-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-1 {
        margin-bottom: 50px;
    }
    .eat-1 {
        margin-bottom: 50px;
    }
    .box-fut {
        flex-direction: column;
    }
    .nombe-fut {
        text-align: center;
    }
}
@media(max-width: 600px) {
    .wrap-myMenu .main-myButton {
        padding: 30px 50px;
        font-size: 15px;
    }
    .unit-conta .title {
        width: 100px;
    }
    .unit-conta .fak {
        width: 300px;
    }
    .unit-conta .vak {
        width: 300px;
    }
    .content .max-batton {
        padding: 16px 50px;
    }
    .content .unit-conta {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}
@media(max-width: 500px) {
    .Welcome-text h1 {
        font-size: 60px;
    }
    .width-Text-4 p {
        font-size: 40px;
    }
}