@media(max-width: 900px) {
    .headerMenu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .logo {
        display: block;
        position: absolute;
    }
    .logo img {
        position: relative;
    }
    .headerMenu ul li {
        text-align: center;
    }
}
@media(max-width: 800px) {
    .service-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-1 {
        margin-bottom: 50px;
    }
    .eat-1 {
        margin-bottom: 50px;
    }
}