*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --black: #000000;
    --lightBlack: #333333;
    --wite: #FFFFFF;
    --blue: #81B3D2;
    --gray: #EEEEEE;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.headerMenu {
    background-color: var(--wite);
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
}
li {
    list-style: none;
}
.headerMenu ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.headerMenu a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}
.headerMenu a:hover {
    color: var(--blue);
}
.headerMenu .logo {
    max-width: 140px;
    max-height: 70px;
  }
.headerMenu ul li:not(.logo) {
    padding: 15px;
}
/* ------------------welcome---------------------------- */